* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  